<html>
    <head>
        <title>Docker Node</title>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    </head>

    <body>

        <form>

            <div class="row m-3">
                <label for="name" class="col-sm-4 text-sm-end">Name :</label>
                <div class="col-sm-6">
                    <input class="form-control" id="name" type="text"/>
                </div>
            </div>
                
            <div class="row">
                <div class="offset-sm-4 col-sm-8 pull-right">
                 <input type="submit" class="btn btn-primary" value="send"/>
                </div>
            </div>       
        </form>
    </body>
</html>